<h1>Edit User</h1>
<form action='/users/' method='post'>
  <input type='text' name='first_name' value='<%=@user.first_name%>'>
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="id" value="<%= @user.id %>">
  <input type='text' name='last_name' value='<%=@user.last_name%>'>
  <input type='text' name='email' value='<%=@user.email%>'>
  <input type='password' name='password' placeholder='password'>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type='submit' value='Create'>
</form> 